.nav__item {
  cursor: pointer;
  font-size: 1.3em;
  position: relative;
  margin-top: 1px;

  &:after{
    content : '';
    display: block;
    position: absolute;
    border-bottom: 2px solid $primaryBlue;
    width: 0;
    bottom: 50%;
    left:0;
    transition: .1s;
  }
  &:hover {
    color: $primaryBlue;
    &:after{
      width: 4%;
    }
  }
  &:hover {
    background-color: #25282e;
  }
  .item-name{
    color: #bbbbbb;
    letter-spacing: .4px;
    text-decoration: none;
    display: inline-block;
    width: calc(100% - 25px);
    height: 100%;
    padding: 25px 25px
  }
  .item__container{
  }
  &:hover .item-name{
    color: $primaryBlue

  }
}
.nav__item.active{
  background-color: #25282e;
  .item__container {
    .item-name {
      color: $primaryBlue;
    }
  }
  &:after{
    content : '';
    display: block;
    position: absolute;
    border-bottom: 2px solid $primaryBlue;
    width: 4%;
    bottom: 50%;
    left:0;
    transition: .1s;
    color: $primaryBlue;
  }
}
