
.quiz-game {
  padding: 80px 35px 50px 35px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 1100px;
  animation: opacity .3s linear both;

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__question {
    height: 60%;
    box-sizing: border-box;
    color: white;
    width: 100%;
    border-radius: .625rem;
    background-color: $primaryBlack;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  .question__content {
    width: 100%;
    text-align: center;
    line-height: 1.3;
    font-family: $font-base;
    @media(min-width: 750px) {
      font-size: 1.5rem;
    }
  }

  .question__heading {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    color: #bbbbbb;
    top: -27px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__answers {

    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .answer {
      width: 100%;
      background-color: $primaryBlack;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .625rem;
      transition: .1s;
      cursor: pointer;
      border: 1px solid transparent;
      color: #bbbbbb;
      text-align: center;
      line-height: 1.3;
      font-family: $font-base;
      padding: 18px 0;
      pointer-events: auto;
      @media(min-width: 750px) {
        font-size: 1.2rem;
      }

      &.correct {
        border: 1px solid green;
        color: green;

        &:hover {
          border: 1px solid green;
          color: green;
        }
      }

      &.incorrect {
        border: 1px solid red;
        color: red;

        &:hover {
          border: 1px solid red;
          color: red;
        }
      }

      &.disable {
        pointer-events: none;
      }

      &:hover {
        @media(min-width: 700px) {
          background-color: #25282e;
          border: 1px solid $primaryBlue;
          color: $primaryBlue;
        }
      }
    }
  }

  &__summary {
    box-sizing: border-box;
    color: white;
    width: 100%;
    border-radius: .625rem;
    background-color: $primaryBlack;
    padding: 30px 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    z-index: 3;
    @media(min-width: 700px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &-btn{
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $primaryBlack;
      padding: 10px 40px;
      border-radius: .625rem;
      color: #bbbbbb;
      letter-spacing: .6px;
      border: 1px solid transparent;
      transition: .1s;
      cursor:pointer;
      user-select: none;
      outline: none;
      &:hover{
        color: $primaryBlue;
        border: 1px solid $primaryBlue;
      }
    }

  }

  .quiz-game__summary-container {
    @media(min-width: 700px) {
      width: 50%;
    }
  }

  .summary__heading {
    font-weight: 400;
    font-size: 2rem;
    margin: 0;
    @media(min-width: 700px) {
      font-size: 2.5rem;
    }

  }

  .summary__score {
    margin-bottom: 20px;
    color: #bbbb;
    @media(min-width: 700px) {
      font-size: 1.1rem;
    }
  }

  .summary__question-check {
    margin-bottom: 5px;


    p {
      font-size: .9rem;
      font-weight: 300;
      margin: 0;
      @media(min-width: 400px) {
        font-size: 1.1rem;
      }
      @media(min-width: 700px) {
        font-size: 1.4rem;
      }
    }

    .summary__question--correct,
    .summary__question--incorrect {
      margin-left: 5px;
    }

    .summary__question--correct {
      color: green;
    }

    .summary__question--incorrect {
      color: red;
    }

    span {
      font-size: 1rem;

      position: relative;
      top: 2px;
      margin-left: 7px;
      color: #bbbbbb;
      transition: .1s;
      &:nth-of-type(2):hover{
        color: white;
        cursor: pointer;
      }
      @media(min-width: 400px) {
        font-size: 1.2rem;
      }
    }

  }

  .quiz-game__summary-question-container {
    display: block;
    position: absolute;
    z-index: 4;
    background-color: $primaryBlack;
    top: 0;
    left: 0;
    right: 0;
    bottom: -30px;
    padding: 15px 15px 30px;
    //height: 100%;
    transition: .2s;
    border-radius: .625rem;
    animation: opacity .1s linear both;
    @keyframes opacity {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
    @media(min-width: 700px) {
      padding: 0;
      position: unset;
      width: 50%;
    }
  }

  .quiz-game__summary-question {
    height: 60%;
    box-sizing: border-box;
    color: white;
    width: 100%;
    border-radius: .625rem;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primaryDarkBlack;
    @media(min-width: 700px) {
      //height: 65%;
    }

    span {
      position: absolute;
      right: 30px;
      top: 30px;
      font-size: 1.5rem;
      color: #bbbb;
      cursor: pointer;

      @media(min-width: 700px){
        right: 40px;
        top: 40px;
      }

      &:hover {
        color: white;
      }
    }

    .summary__question {
      width: 100%;
      text-align: center;
      line-height: 1.3;
      font-family: $font-base;
    }
  }

  .summary__answers {
    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-bottom: 20px;
    @media(min-width: 700px) {
      padding-bottom: 0;
    }
  }

  .summary__answer {
    width: 100%;
    background-color: $primaryDarkBlack;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .625rem;
    transition: .1s;
    cursor: unset;
    border: 1px solid transparent;
    color: #bbbbbb;
    text-align: center;
    line-height: 1.3;
    font-family: $font-base;
    padding: 18px 0;
    pointer-events: auto;
    font-size: .9rem;

    &.correct {
      border: 1px solid green;
      color: green;
    }

    &.incorrect {
      border: 1px solid red;
      color: red;
    }

  }

}

