
.quiz-game {
  padding: 100px 35px 50px 35px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex-direction: column;
  animation: opacity .3s linear both;
  max-width: 1100px;

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__question {
    height: 60%;
    box-sizing: border-box;
    color: white;
    width: 100%;
    border-radius: .625rem;
    background-color: $primaryBlack;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

  }

  .question__content {
    width: 100%;
    text-align: center;
    line-height: 1.3;
    font-family: $font-base;
    @media(min-width: 750px) {
      font-size: 1.5rem;
    }
  }

  .question__heading {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    position: absolute;
    color: #bbbbbb;
    top: -27px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__answers {

    display: grid;
    margin-top: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    .answer {
      width: 100%;
      background-color: $primaryBlack;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: .625rem;
      transition: .1s;
      cursor: pointer;
      border: 1px solid transparent;
      color: #bbbbbb;
      text-align: center;
      line-height: 1.3;
      font-family: $font-base;
      padding: 18px 0;
      pointer-events: auto;
      @media(min-width: 750px) {
        font-size: 1.2rem;
      }
      &.correct{
        border: 1px solid green;
        color: green;
        &:hover{
          border: 1px solid green;
          color: green;
        }
      }
      &.incorrect{
        border: 1px solid red;
        color: red;
        &:hover{
          border: 1px solid red;
          color: red;
        }
      }
      &.disable{
        pointer-events: none;
      }

      &:hover {
        background-color: #25282e;
        border: 1px solid $primaryBlue;
        color: $primaryBlue;
      }

      //&__container {
      //  //position: relative;
      //  //z-index: -2;
      //  height: auto;
      //}
      //
      //&__content {
      //  color: #bbbbbb;
      //  width: 100%;
      //  text-align: center;
      //  line-height: 1.3;
      //  font-family: $font-base;
      //
      //  @media(min-width: 750px) {
      //    font-size: 1.2rem;
      //  }
      //}


    }
  }
}