.summary-panel {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: $primaryDarkBlack;
  justify-content: center;
  align-items: center;
  animation: opacity .3s linear both;
  @keyframes opacity {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  }
  @media(max-width: 920px) {
    font-size: .9rem;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    padding: 38px 32px;
    width: 90%;
    height: 70%;
    flex-direction: column;
  }

  &__heading {
    color: white;

    &--text {
      font-size: 2em;
      letter-spacing: .2px;
    }
    .quiz-panel__heading--icon{
      cursor: pointer;
      transition: .1s;
      &:hover{
        color: #bbbbbb
      }
    }

  }

  &__content {
    color: white;
    text-align: left;
    width: 100%;
    border-radius: .625rem;
    display: flex;
    font-size: 1.5em;
    flex-wrap: wrap;
    margin-top: 20px;
    .summary-panel__content--error{

      font-weight: 300;
      color: #818181;
      font-size: 1rem;
    }

  }

  &__subject {
    height: auto;
    margin: 0 20px 20px 0;

    button {
      border-radius: 3px;
      text-transform: uppercase;
      background-color: $primaryBlack;
      border: none;
      padding: 10px 20px;
      color: white;
      cursor: pointer;
      transition: .1s;
      user-select: none;
      outline: none;

      &:hover {
        color: $primaryBlue;
      }
    }
  }
}

.summary-panel__info {
  height: auto;
  .summary-panel__container {
    height: 100%;
    @media (min-width: 630px){
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .summary-panel__heading {
      @media (min-width: 630px){
        width: 100%;
      }

      &--text {
        margin-bottom: 0;

      }
    }

    .summary-panel__content {
      margin-top: 50px;
      @media (min-width: 630px){
        width: 32%;
      }
      &.nodata{
        filter: grayscale(1) ;
      }


      .summary-info {
        text-align: center;
        background-color: $primaryBlack;
        padding: 30px 0;
        border-radius: .625rem;
        width: 100%;
        &__heading{
          font-weight: 300;
          margin: 0;
          span{
            font-weight: 500;
            color: $primaryBlue;
          }
        }
        &__number-of-quizzes{
          font-weight: 300;
          span{
            font-weight: 500;
            color: $primaryBlue;
          }
        }
        &__chart{
          width: 160px;
          margin: 0 auto;
        }
        &__legend{
          display: flex;
          justify-content: center;
          margin-top: 20px;
          &--color{
            font-size: .8rem;
            margin: 0;
            span{
              display:inline-block;
              height: 60%;
              width: 10px;
            }
          }
          &--color.incorrect{
            margin-right: 20px;
            span{
              background-color:#C13C37 ;
            }
          }
          &--color.correct{
            span{
              background-color:#8de352 ;
            }
          }
        }
        &__data{
          padding: 30px 20px 0;
          font-size: 1rem;
          font-weight: 200;
          span{
            display: block;
            font-size: 1.7rem;
            margin-top: 10px;
            color: $primaryBlue;
          }
          &--percent{
            margin-bottom:20px;

          }
          &--average{

          }
        }

      }
    }
  }
}



